body { font-family: Arial, 
    sans-serif;
margin: auto;
}

.header, 
.header { 
    display: flex; 
    align-items: center; 
    margin-top: -10px;
    width: 100%;
     }

.container{
    color: white;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.button1{
    text-align: center;
    background-color: aquamarine;
    width: 7rem;
    border-radius: 10px;
    list-style: none;
    margin-right: 70px;
}

.text-button{
margin-left: -20rem;
margin-top: -30rem;
display: flex;
    color: #fff;
    text-decoration: none;
}

.center{
    color: black;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .icon {
    margin: 0 70px;
  }

  .icon img {
    width: 150px; /* Ajusta esto según el tamaño de tus íconos */
    height: auto;
  }

  .icon-description {
    margin-right: 15px;
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-top: 5px;
  }

  .icon-description1{
   
    text-align: center;
    color: black;
  }

  .text2{
    color: black;
    margin-left: 20rem;
    margin-top: 8rem;
    display: flex;
    text-decoration: none;
  }